<html ng-app="TestApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	</head>
	<body ng-controller="MainController as vm">
		<h1>MEAN! {{ vm.message }}</h1>

		<script src="/assets/js/app.js"></script>
	</body>
</html>
